<!-- build:js -->
<!-- swup js -->
<script src="/static/js/swup.min.js"></script>
<!-- swup body class plugin js -->
<script src="/static/js/SwupBodyClassPlugin.min.js"></script>
<!-- smooth scroll js -->
<script src="/static/js/smooth-scroll.js"></script>
<!-- gsap js -->
<script src="/static/js/gsap.js"></script>
<!-- scroll trigger js -->
<script src="/static/js/scroll-trigger.js"></script>
<!-- swiper js -->
<script src="/static/js/swiper.min.js"></script>
<!-- fancybox js -->
<script src="/static/js/fancybox.js"></script>
<!-- isotope js -->
<script src="/static/js/isotope.js"></script>
<!-- main js -->
<script src="/static/js/main.js"></script>
<!-- endbuild -->